@charset "UTF-8";

/*
- Mobile: 375px
- Desktop: 1440px

-----------colors------------
- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%)
*/

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'WorkSans';
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url(images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-color: rgb(249, 240, 255);
}

main {
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 25px;
    border-radius: 7px;
}

div {
    display: flex;
    align-items: center;

    font-weight: bold;
    color: rgb(47, 21, 51);
   
}

.questions{
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    box-shadow:  0px 2px .8px rgba(0, 0, 0, 0.087);
    padding: 15px 0px;
    
}

.questions > p {
    width: 220px;
}

div > h1 {

    font-size: 30px;
}

footer { font-size: 11px; text-align: center; }
footer > a { color: hsl(228, 45%, 44%); }